html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}
body {
  font-size: 62.5%;
  max-width: 500px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h2 {
  font-family: "Comfortaa", cursive;
}
p {
  font-family: "Arvo", serif;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}
/*#test {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    margin: 2rem;
  }
  .test1 {
    h1 {
      font-size: 4rem;
      font-family: "Concert One", cursive;
    }
    h2 {
      font-size: 2.5rem;
      font-family: "Barlow", sans-serif;
      margin: 3rem;
    }
    p {
      font-size: 1.6rem;
      font-family: "Arvo", sans-serif;
    }
    .color1 {
      width: 15%;
      height: 15%;
      background: #ed5107;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .color2 {
      width: 15%;
      height: 15%;
      background: #c70d3a;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .test2 {
    h1 {
      font-size: 4rem;
      font-family: "Lobster", sans-serif;
    }
    h2 {
      font-size: 2rem;
      font-family: "Comfortaa", sans-serif;
      margin: 3rem;
    }
    p {
      font-size: 1.6rem;
      font-family: "Bitter", sans-serif;
    }
    .color1 {
      width: 15%;
      height: 15%;
      background: #e47312;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .color2 {
      width: 15%;
      height: 15%;
      background: #d55252;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .color3 {
      width: 15%;
      height: 15%;
      background: #e5d8bf;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .test3 {
    h1 {
      font-size: 4rem;
      font-family: "Righteous", sans-serif;
    }
    h2 {
      font-size: 2rem;
      font-family: "Domine", sans-serif;
      margin: 3rem;
    }
    p {
      font-size: 1.6rem;
      font-family: "Halant", sans-serif;
    }
    .color1 {
      width: 15%;
      height: 15%;
      background: #e25822;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .color2 {
      width: 15%;
      height: 15%;
      background: #f1bc31;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
<section id="test">
      <div class="test1">
        <h1>30before30</h1>
        <h2>Title</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
          omnis ex reiciendis tenetur nulla, aliquam dolore minima quia
          blanditiis aspernatur in nemo necessitatibus soluta, quaerat suscipit
          reprehenderit ipsum vitae adipisci?
        </p>
        <div class="color1"></div>
        <div class="color2"></div>
      </div>

      <div class="test2">
        <h1>30before30</h1>
        <h2>Title</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
          omnis ex reiciendis tenetur nulla, aliquam dolore minima quia
          blanditiis aspernatur in nemo necessitatibus soluta, quaerat suscipit
          reprehenderit ipsum vitae adipisci?
        </p>
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
      </div>

      <div class="test3">
        <h1>30before30</h1>
        <h2>Title</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
          omnis ex reiciendis tenetur nulla, aliquam dolore minima quia
          blanditiis aspernatur in nemo necessitatibus soluta, quaerat suscipit
          reprehenderit ipsum vitae adipisci?
        </p>
        <div class="color1"></div>
        <div class="color2"></div>
      </div>
    </section>
*/
header {
  display: flex;
  align-items: center;
}
header h2 {
  font-size: 5rem;
  font-family: "Comfortaa", cursive;
  z-index: 10;
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: white;
  text-shadow: 3px 3px black;
}
.images {
  width: 100%;
  display: flex;
  position: relative;
}
.images .header1 {
  z-index: 3;
}
.images .header1 img {
  width: 80%;
  height: auto;
  position: absolute;
  z-index: 3;
  right: 1rem;
  top: 8rem;
  border-radius: 2rem;
  animation: fadeIn ease 1s;
}
.images .header2 {
  z-index: 2;
}
.images .header2 img {
  width: 80%;
  height: auto;
  position: absolute;
  z-index: 2;
  top: 16rem;
  left: 1rem;
  border-radius: 2rem;
  animation: fadeIn ease 3s;
}
.images .header3 {
  z-index: 4;
}
.images .header3 img {
  width: 80%;
  height: auto;
  position: absolute;
  z-index: 4;
  right: 1rem;
  top: 35rem;
  border-radius: 2rem;
  animation: fadeIn ease 5s;
}
#about30 {
  z-index: 5;
  position: relative;
  top: 45rem;
  padding: 1rem;
  border-radius: 2rem;
  height: 100%;
}
#about30 h2 {
  font-size: 2rem;
  margin: 1rem;
  opacity: 1;
  background-color: rgba(226, 88, 34);
  padding: 0.5rem;
  border-radius: 1.2rem;
}
#about30 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
#about30 ul li {
  font-size: 1.4rem;
  margin: 1rem;
  opacity: 1;
  width: 60%;
  background-color: rgba(226, 88, 34, 0.5);
  padding: 0.5rem;
  border-radius: 1rem;
}
#about30 ul img {
  width: 15rem;
  height: 15rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: rgba(226, 88, 34, 0.507);
  padding: 1rem;
  z-index: 999999;
}
nav hr {
  border: 1px solid grey;
  width: 100%;
}
nav .logo p {
  font-family: "Righteous", cursive;
  font-size: 1.6rem;
  margin: 0.3rem;
}
nav .logo p a {
  text-decoration: none;
  color: white;
}
nav .login a {
  font-size: 1.6rem;
  font-family: "Comfortaa", cursive;
  width: 40%;
  text-decoration: none;
  color: #e25822;
  padding: 0.5rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #f1bc31;
}
#footer {
  position: absolute;
  top: 120rem;
  bottom: 0;
  width: 100%;
  height: 12rem;
  /* Footer height */
  background-color: rgba(226, 88, 34, 0.507);
}
#footer .company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  margin: 1rem;
}
#footer .company h3 {
  font-family: "Righteous", cursive;
  font-size: 1.6rem;
  margin: 1rem;
  color: white;
}
#footer .company ul li a {
  font-family: "Arvo", serif;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin-top: 2rem;
}
#footer .copywright {
  display: flex;
  align-content: center;
  justify-content: center;
}
#footer .copywright p {
  font-family: "Arvo", serif;
  color: white;
}
