header {
  display: flex;
  align-items: center;
  h2 {
    font-size: 5rem;
    font-family: @comfortaa;
    z-index: 10;
    position: absolute;
    top: 5rem;
    left: 1rem;
    color: white;
    text-shadow: 3px 3px black;
  }
}

.images {
  width: 100%;
  display: flex;
  position: relative;

  .header1 {
    z-index: 3;
    img {
      width: 80%;
      height: auto;
      position: absolute;
      z-index: 3;
      right: 1rem;
      top: 8rem;
      border-radius: 2rem;
    }
  }
  .header2 {
    z-index: 2;
    img {
      width: 80%;
      height: auto;
      position: absolute;
      z-index: 2;
      top: 16rem;
      left: 1rem;
      border-radius: 2rem;
    }
  }
  .header3 {
    z-index: 4;
    img {
      width: 80%;
      height: auto;
      position: absolute;
      z-index: 4;
      right: 1rem;
      top: 35rem;
      border-radius: 2rem;
    }
  }
}
